@{
    ViewData["Title"] = "Perfil";
}

<h1>@ViewData["Title"]</h1>
<p>Nombre: Kevin Alejandro Sanchez Machado</p>
<p>Edad: 20</p>
<img src="~/img/Hollow.jpg" style="width: 265px;" />
<p>Carrera: Ingeniería en Sistemas de la Información</p> 